<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="http://localhost:8080/static/css/app.css" />
  </head>
  <body>
    <h1 class="title">Cryptoview</h1>
  </body>
</html>
